body {
    background-color: rgb(32, 53, 53);
}

/*Login component styling*/
.title {
    font-family: 'Courier New', Courier, monospace;
    size: 300px;
    color: white;
}


.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 5%;
    background-color: white;
    border-radius: 15%;
    border: solid 1px;
}

.loginForm input{
    margin: 3%;
}

.loginButton {
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20%;
    background-color: white;
    border: none;
}